
<head>
    <style>
        body {
            border: 14px solid blue;
        }
    </style>
</head>

<section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>About Me</h3>
                    <p>I was born and raised in the seaside town of Southport, North Carolina. When I was seven years old, my father turned into Old MacDonald and bought a farm. Farm life was fun but also hard work.  My parents instilled strong work ethics into me and my siblings at a very young age.  They trained us to rise early, to work hard and to be honest.</p>

                    <p>My interests include international travel, reading, writing, learning foreign languages and jewelry designing. I also teach ESL and I am a published freelance author of <a href="~/img/Southport.jpg" target="_blank">"Southport."</a></p>

                    <p>Currently, I am a student at <a href="http://www.coderfoundry.com" target="_blank">Coder Foundry</a>, a Dot Net Boot Camp located in Kernersville, NC. This is an 18 week class that will conclude September 30, 2016. Upon graduation I will be a Full Stack . Net Developer. I am here because I am reinventing my career. I have years of experience in accounts receivables/payables, mortgage insurance/bankruptcy, and customer service.</p>

                    <p>My plans are to return to Cary, NC and obtain a position as a Developer in one of the many companies there. My portfolio is in the process of being developed so each week you will be able to see changes in this site.</p>

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

