@{
//ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


@*<div class="container">
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <address>
            1231 Shields Road, Suite 5<br/>
            Kernersville, NC 27284<br/>
            <abbr title="Phone">(336)231-8632</abbr>

        </address>
    </div>
</div>
    </div>*@
<head>

    <style>
        body {
            border: 14px solid blue;
            background-color: lightblue;
           
        }
    </style>

</head>


<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4>
                <strong>Sharon Claudette Smith</strong>
            </h4>
            <p><address>
                    1231 Shields Road, Suite 5<br/>
                    Kernersville, NC 27284<br/>
                    <abbr title="Phone">(336)231-8632</abbr>

                </address>
            </p>


            <ul class="list-unstyled">
                <li><i class="fa fa-phone fa-fw"></i></li>
                <li>
                    <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com"></a>
                </li>
            </ul>
            <br>
            <ul class="list-inline">
                <li>
                    <a href="https://brand.linkedin.com/etc/designs/linkedin/katy/global/clientlibs/img/default-share.png" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                </li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy;2016</p>
        </div>
    </div>
</div>
<footer></footer>
